@import './css/emojionearea.css';

* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#232323;
  background-color: #EAEAEA;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.c-info {
  margin:5px 0;
  font-style:italic;
}

.c-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow:
    0 1px 1px 0 rgba(60, 75, 100, .14),
    0 2px 1px -1px rgba(60, 75, 100, .12),
    0 1px 3px 0 rgba(60, 75, 100, .20);
}

.c-chat__header {
  flex-shrink: 0;
  margin-bottom: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #d8dbe0;
  background-color: #fff;
}

.c-chat__header h1 {
  margin: 0;
}

.c-chat__header-title {
  font-size: 14px;
  font-weight: bold;
}

.c-chat__body {
  position: relative;
  flex-grow: 1;
  padding: 10px 0 10px 15px;
  overflow: hidden;
}

.c-chat__body-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
}

.c-chat__body-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
  background-color: rgba(35, 35, 35, 0.8);
  color: #fff;
}

.c-chat__footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-top: 1px solid #d8dbe0;
  padding: 10px 15px;
  background-color: #fff;
}

.c-chat__footer input {
  display: none;
  flex-grow: 1;
  border: none;
  height: 30px;
  outline: none;
  background-color: transparent;
  color: #232323;
  font-size: 14px;
}

.c-chat__footer button {
  flex-shrink: 0;
  border: 0;
  border-radius: 5px;
  padding: 7px 15px;
  transition: all 0.5s ease;
  outline: none;
  background-color: #2C6AE6;
  color: #fff;
  font-size: 14px;
}

.c-chat__footer button:hover {
  background-color: #4F8DFD;
}

.is-owner {
  font-weight:bold;
  color:#2C6AE6;
}

.c-message {
  display: flex;
  margin-right: 15px;
  margin-bottom: 5px;
}

.c-message__username {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.c-message__username.is-owner {
  margin-right: 10px;
  margin-left: 0;
  background-color: #2C6AE6;
  color: #fff;
}

.c-message__content {
  position: relative;
  border-radius: 7px;
  border-top-left-radius: 0;
  padding: 5px 10px;
  background-color: #fff;
  color:#232323;
}

.c-message__content::before {
  display: block;
  position: absolute;
  top: 0;
  left: -7px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  content: '';
}

.c-message.is-client-message {
  align-self: flex-end;
}

.c-message.is-client-message .c-message__content {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.c-message.is-client-message .c-message__content::before {
  right: -7px;
  left: auto;
  border-right: 5px solid transparent;
  border-left: 5px solid #fff;
}

.emojionearea.emojionearea-inline {
  height: 30px;
  border: 0;
  box-shadow: none;
  outline: 0;
}

.emojionearea .emojionearea-button {
  right: auto;
  left: 3px;
}

.emojionearea.emojionearea-inline > .emojionearea-editor {
  height: 30px;
  padding: 0;
  line-height: 30px;
  right: 10px;
  left: 35px;
}

.emojionearea .emojionearea-editor:empty:before {
  height: 30px;
  line-height: 30px;
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top {
  left: -14px !important;
  right: auto !important;
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top.emojionearea-filters-position-bottom .emojionearea-wrapper:after {
  position: absolute;
  right: auto !important;
  left: 20px !important;
}
